/* GENERAL STYLES */
html, body {
	height: 100%;
	font-family: Arial, San-serif;
	font-size: 100%;
	margin: 0;
	min-height: 100%;
	background-color:rgb(180, 217, 247)
   }
   img {
	border-radius: 10px;
   }
   hr {
	border-color: black;
   }
   .wrapper {
	  min-height: 100%;
	  display: flex;
	  flex-direction: column;
   }
  ul {
	  margin: 0;
	  padding: 0;
  }
  ul li {
	  list-style-type: none;	
  }
  a {
	  text-decoration: none;
  }
  b {font-style : italic;
	  color : #00008B;
	}
  p {
	  font-size: 14px;
	  line-height: 1.3em; 
	   text-align: justify;
	  text-indent: 35px; 
  }
  .container {
	  margin: 0 auto;
	  width: 1024px;
  }
  img {margin: 15pt}

  form div {
	margin: 20px 0;
	font-size: 16px;
  }
  
  /* HEADER */
  
  .header, .footer  {
	  background-color: rgb(149, 193, 243) ;
	  }
  
  .header, footer, h1, h2 {
	color:  #00008B;
	text-align: center;
	font-family: Georgia;
	font-style : italic;
	text-align : center;
  }
  
  /* NAVIGATION */
  .page-navigation {
	  background-color: #00008B;
	  min-height: 64px;
	  position: sticky;
	  top:0px;
  }
  .page-navigation li, .sub-page-navigation li {
	  float: left;
	  width: 100px;
  }  
  .page-navigation a, .sub-page-navigation a {
	  display: block;
	  line-height: 4em;
	  font-weight: bold;
  }
  .page-navigation a {
	color: rgb(176, 252, 255);		
  }
  .sub-page-navigation a {
	color: rgb(125, 194, 240);	
  }

  .page-navigation li a:hover {
	  color: #00008B;		
	  background-color: rgb(119, 121, 197);
  }

  .sub-page-navigation li a:hover {
	color:  #00588b; 
	background-color: rgb(119, 121, 197);
  }

  .sub-page-navigation {
	background-color: #00588b; 
	min-height: 64px;
	position: sticky;
	top: 64px;
	text-align: center;
  }

  /* MAIN PART */
  .main {
	  flex: 1 1 auto;
  }
  /* FOOTER */
  .footer {
	  color: #00008B;
	  padding: 20px 0;
	  margin-top: 30px;  
  }
  