/* CSS Document */
 body {
    background-image: url(images/Fon_1.jpg); /* Путь к фоновому изображению */
    font-family: Book Antigua  
      }                                                                       


